<ion-header [translucent]="true">
    <ion-toolbar color="light">
        <ion-title>
            Lista de tareas
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <ion-button shape="round" color="light" (click)="presentModal()">
                    Crear tarea
                </ion-button>
            </ion-col>

            <ion-col size="6">
                <ion-button shape="round" color="light" (click)="orderByEstado('Date', 'desc')">
                    Ordenar por Fecha
                </ion-button>
            </ion-col>

            <ion-col size="6" *ngIf="!filtradoEstado">
                <ion-button shape="round" color="light" (click)="filterBy('Terminado', true, 'estado')">
                    Filtrar por estado
                </ion-button>
            </ion-col>

            <ion-col size="6" *ngIf="filtradoEstado">
                <ion-button shape="round" color="light" (click)="removeFilter('Date', 'desc', 'estado')">
                    Remover Filtro estado
                </ion-button>
            </ion-col>

            <ion-col size="6">
                <ion-select placeholder="Filtrar por prioridad" [(ngModel)]="filtrarPrioridad" (ionChange)="filterBy('Prioridad',$event.target.value, priori)" required>
                    <ion-select-option value="Alta">Alta</ion-select-option>
                    <ion-select-option value="Media">Media</ion-select-option>
                    <ion-select-option value="Baja">Baja</ion-select-option>
                </ion-select>
            </ion-col>

            <ion-col size="6" *ngIf="filtradoPriori">
                <ion-button shape="round" color="light" (click)="removeFilter('Date', 'desc', priori)">
                    Remover por prioridad
                </ion-button>
            </ion-col>

            <div *ngFor="let item of tareasList" class="contenedor-tarea">
                <span *ngIf="!item.isEdit; else elseBlock">
                    <ion-grid>
            <ion-row [routerLink]="['/interna-tarea', item.id]">
                <ion-col size="2">
                    <ion-item>
                        <ion-checkbox color="light" slot="start" [(ngModel)]="item.Terminado" (ionChange)="getValueTerminado($event.detail.checked)"></ion-checkbox>
                        <ion-label>Completado</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="2">
                    <p>{{item.Titulo}}</p>
                </ion-col>
                <ion-col size="2">
                    <p>{{item.Descripcion}}</p>
                </ion-col>
                <ion-col size="2">
                    <p>{{item.Prioridad}}</p>
                </ion-col>
                <ion-col size="2">
                    <p>{{item.FechaDeCreacion | date}}</p>
                </ion-col>
                <ion-col size="2">
                    <ion-button shape="round" color="secondary" size="small" (click)="EditarTarea(item)">
                        <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
            
                    </ion-button>
                    <ion-button shape="round" color="danger" size="small" (click)="RemoverTarea(item.id)">
                        <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
            
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>

    </span>
                <ng-template #elseBlock>
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>
                                <ion-grid>
                                    <ion-row>
                                        <ion-col>
                                            Editar
                                        </ion-col>
                                        <ion-col>
                                            <ion-button fill="solid" color="medium" size="small" (click)="item.isEdit = false">
                                                Cancelar
                                            </ion-button>
                                        </ion-col>
                                        <ion-col>
                                            <ion-button fill="solid" color="success" size="small" (click)="ActualizarTarea(item)">
                                                Actualizar
                                            </ion-button>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-item>
                                <ion-label><strong>Titulo</strong></ion-label>
                                <ion-input type="text" [(ngModel)]="item.EditTitulo"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label><strong>Descripcion</strong></ion-label>
                                <ion-input type="text" [(ngModel)]="item.EditDesc"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-select placeholder="Seleccionar prioridad" [(ngModel)]="item.prioridadEdit" (ionChange)="getValue($event.target.value)" required>
                                    <ion-select-option value="Alta">Alta</ion-select-option>
                                    <ion-select-option value="Media">Media</ion-select-option>
                                    <ion-select-option value="Baja">Baja</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-card-content>
                    </ion-card>
                </ng-template>
            </div>

        </ion-row>
    </ion-grid>
</ion-content>